@use "../../assets/style/" as *;

.survey-details-container {
  padding: 3rem 2rem 2rem 2rem;
  min-height: 100vh;
  background-color: $white;
  .ant-breadcrumb,
  .ant-breadcrumb a {
    @include font-style($dark-black, 1.6rem, 2.4rem, 400);
  }
  .ant-breadcrumb li:first-child {
    cursor: pointer;
  }
  .ant-breadcrumb li:last-child {
    @include font-style($wild-red, 1.6rem, 2.4rem, 400);
  }
  .survey-details-title {
    @include font-style($black, 3.4rem, 4.12rem, 400);
    text-align: left;
  }

  .details-progress-avg-container {
    gap: 1.8rem;
    @include media(">sm", "<md") {
      gap: 2.5rem;
    }
    @include media(">=md", "<=xl") {
      gap: 3rem;
    }
    .details-container {
      border: 0.1rem solid $light-grey;
      border-radius: 0.4rem;
      padding: 1.6rem;
      @include flex-column;
      @include justify-content-center;
      gap: 1rem;
      width: 100%;
      .details {
        @include d-flex;
        @include media("<md") {
          @include flex-column;
        }
        .details-name {
          @include font-style($indigo, 1.6rem, 2.66rem, 400);
          text-align: left;
          width: 30%;
          @include media("<md") {
            width: 100%;
          }
        }
        .details-name-data {
          @include font-style($black, 1.6rem, 2.66rem, 500);
          text-align: left;
        }
      }
    }
    .progress-container {
      border: 0.1rem solid $light-grey;
      border-radius: 0.4rem;
      padding: 1.6rem;
      @include flex-column;
      .ant-progress-circle {
        width: 7.5rem;
        height: 7.5rem;
        display: inline-flex;
        margin: auto;
        @include justify-content-center;
        @include align-items-center;
        .ant-progress-inner {
          @include d-flex;
        }
      }
      .score {
        @include font-style($jet-black, 1.4rem, 2.32rem, 500);
      }

      .ant-progress
        .ant-progress-inner:not(.ant-progress-circle-gradient)
        .ant-progress-circle-path {
        stroke: green;
      }
    }
    .avg-time-container {
      border: 0.1rem solid $light-grey;
      border-radius: 0.4rem;
      padding: 1.6rem 1.2rem;
      .time-icon {
        font-size: 4.5rem;
        color: $indigo;
      }
      .hrs {
        @include font-style($jet-black, 2.6rem, 4.32rem, 700);
      }
      .avg-time {
        @include font-style($jet-black, 1.4rem, 2.32rem, 500);
      }
    }
  }

  .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    @include font-style($wild-red, 1.4rem, 2.4rem, 500);
  }
  .ant-tabs-tab {
    width: 22.4rem;
    @include justify-content-center;
    text-transform: uppercase;
    @include media("<md") {
      width: 17.5rem;
    }
    @include media("<xs") {
      width: 14.1rem;
    }
  }
  .ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar {
    background-color: $wild-red;
  }
  .feeback-names,
  .input-container,
  .rating-btn,
  .btn-container {
    display: none;
  }
  .feedback-container {
    min-height: 50vh;
    padding: 0;
    .text-area-container {
      margin: 0;
    }
    @include media("<md") {
      .cards-container {
        @include flex-wrap;
        gap: 1rem;
        .feedback-updated-image {
          margin-left: 2rem;
        }
      }
    }
  }
  .back-btn-container {
    text-align: right;
    .back-btn {
      background-color: $indigo;
      color: $white;
      border-radius: 0.4rem;
      &:hover {
        color: $white;
        background-color: $indigo;
      }
    }
  }
}
