@use "../../assets/style/" as *;

.header-container {
  padding: 1.6rem 2.5rem;
  background-color: $white;
  // position: fixed;
  // width: 100%;
  // height: 7rem;
  @include justify-content-between;
  @include align-items-center;

  .logo-container {
    @include align-items-center;

    .csat {
      @include font-style($jet-black, 2rem, normal, 600);
      @include align-items-center;
      margin-left: 0.8rem;

      span {
        font-weight: 400;
        margin-left: 0.5rem;
        font-size: 1.7rem;
      }
    }
  }

  .prj-name {
    @include font-style($black, 1.6rem, normal, 400);

    span {
      @include font-style($med-slate-blue, 1.6rem, normal, 500);
    }
  }
}