@use "../../assets/style/" as *;

.greetings-container {
  @include flex-column;
  height: 89vh;

  .greetings-main-container {
    padding: 2rem 2.5rem 5rem;
    @include justify-content-end;
    @include align-items-end;

    .greetings-description {
      @include flex-column;
      @include justify-content-end;
      text-align: left;

      .greetings-title {
        @include font-style($black, 2vw, 3.4vw, 400, Inter);
      }

      .greetings-desc {
        @include font-style($metal-black, 1.3vw, 2.2vw, 400, Inter);
      }
    }
  }

  .details-container {
    @include horizontal-line(100%, 20vh, $white);
    @include align-items-center;
    @include justify-content-between;
    padding: 1.6rem 3rem;
    position: fixed;
    bottom: 0;

    .project-details-container {
      @include justify-content-between;
      width: 60%;
      text-align: left;
      gap: 2rem;

      .title {
        @include font-style($steel-grey, 1.3vw, 1vw, 400, Inter);
        margin-bottom: 1rem;
      }

      .desc {
        @include font-style($royal-blue, 1.5vw, 2.2vw, 500, Inter);
      }
    }

    .btn {
      @include horizontal-line(20rem, 6.6rem, $med-slate-blue);
      padding: 1.6rem;
      border-radius: 0.8rem;
      color: $white;
    }

    .active-button {
      @include custom-btn($indigo, 0.5rem, 1);
      @include font-style($white, 1.4rem, 1.7rem, 700, Roboto);
      width: 20rem;
      height: 4rem;
      margin-right: 5vw;
      gap: 0.8rem;
      &:hover {
        color: $white;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .greetings-main-container {
      height: auto;
      @include flex-column;
      @include justify-content-between;

      .greetings-image-container {
        width: 100%;
        @include justify-content-center;
      }

      .greetings-image {
        @include d-block;
        width: 80%;
        height: auto;
        max-width: 100%;
        max-height: 100%;
      }

      .greetings-description {
        @include justify-content-center;
        @include align-items-center;
        text-align: center;
        margin-top: 8vw;

        .greetings-title {
          text-align: center;
          font-size: 2.2rem;
        }

        .greetings-desc {
          margin-top: 3vw;
          text-align: center;
          font-size: 1.3rem;
          line-height: 1.5rem;
        }
      }
    }

    .details-container {
      height: auto;
      padding: 4vw 0;
      @include flex-column;
      @include justify-content-between;
      @include align-items-center;

      .project-details-container {
        width: 80%;
        @include justify-content-between;
        @include flex-wrap;
        padding: 2vw 0;

        .title {
          font-size: 1.5rem;
          text-align: center;
        }

        .desc {
          font-size: 1.3rem;
          margin-top: 0.3rem;
          text-align: center;
        }
      }

      .active-button {
        font-size: 1.3rem;
        border-radius: 0.4rem;
      }
    }
  }
  
  @media only screen and ((min-width: 425px) and (max-width: 767px)) {
    .greetings-main-container {
      height: 50vh;
      overflow: scroll;
      @include flex-column;
      @include justify-content-center;
      @include align-items-center;

      .greetings-image-container {
        width: 80%;
      }

      .greetings-image {
        width: 50%;
        max-width: 100%;
      }

      .greetings-description {
        margin-top: 1rem;
      }
    }
  }
  @media only screen and ((min-width: 768px) and (max-width: 1200px)) {
    .greetings-main-container {
      @include align-items-center;
      height: 60%;

      .greetings-image {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .greetings-description {
      width: 60%;
    }
  }

  @media only screen and (min-width: 1400px) {
    @include justify-content-center;
    @include align-items-center;
  }
}
