@use "../../assets/style" as *;
.alert-modal{
    max-width: 33rem;
    min-height: 28rem;
    .ant-modal-close {
        top: .7rem;
        right: .7rem;
    }
    .ant-modal-content {
        border-radius: 0.4rem;
        background-color:$white;
        .ant-modal-title {
            font-size: 2.2rem;
            font-weight: 600;
            text-align: center;
        }
        
    }
    .warn-icon{
        svg{
            width: 3rem;
            height: 3rem;
        }
        padding: 1rem;
    }
    .alert-div{
        @include align-items-center;
        font-weight: 500;
    }
}