@use "../../../assets//style" as *;

.add-edit-account-container {

    .accounts-form {
        width: 100%;

        .ant-upload-wrapper .ant-upload-drag p.ant-upload-drag-icon .anticon {
            color: $indigo;
        }

        .ant-form-item {
            margin-bottom: 0;

            .ant-form-item-label {
                width: 100%;
                text-align: start;
                @include font-style($black, 1.4rem, 2.2rem, 400);
            }

            .ant-form-item-control {
                width: 100%;
                border: 1px solid transparent;
            }
        }

        .dummy-placeholder {
            margin: 0.5rem 0 1.5rem 0;
            @include font-style($dark-grey, 1.4rem, 2.2rem, 400);
        }

        .form-footer {
            @include justify-content-end;
            @include align-items-center;
            padding-top: 1rem;

            .cancle-btn,
            .submit-btn {
                min-height: 3.5rem;
                max-height: 3.5rem;
            }

            .cancle-btn {
                @include font-style($black, 1.6rem, 2.4rem, 400);
            }

            .submit-btn {
                background-color: $indigo;
                @include font-style($white, 1.6rem, 2.4rem, 400);
                border-radius: 0.4rem;
                width: 100%;
                padding: 1rem 2.2rem;
                @include justify-content-center;
                @include align-items-center;
                margin-left: 1rem;

                &:hover {
                    background-color: $indigo;
                    box-shadow: rgba(100, 100, 111, 0.2) 0 0.7rem 2.9rem 0;
                }
            }
        }
    }
}