@use "../../../assets//style" as *;

.add-edit-account-container {

    .accounts-form {
        width: 100%;

        .ant-upload-wrapper .ant-upload-drag p.ant-upload-drag-icon .anticon {
            color: $indigo;
        }

        .ant-form-item {
            margin-bottom: 0;

            .ant-form-item-label {
                width: 100%;
                text-align: start;
                @include font-style($black, 1.4rem, 2.2rem, 400);
            }

            .ant-form-item-control {
                width: 100%;
                border: 1px solid transparent;
            }
        }

        .dummy-placeholder {
            margin: 0.5rem 0 1.5rem 0;
            @include font-style($dark-grey, 1.4rem, 2.2rem, 400);
        }


    }
}