@use "../../../assets//style" as *;


.add-edit-account-container {

    .accounts-form {
        width: 100%;

        .ant-upload-wrapper .ant-upload-drag p.ant-upload-drag-icon .anticon {
            color: $indigo;
        }

        .ant-form-item {
            margin-bottom: 0;

            .ant-form-item-label {
                width: 100%;
                text-align: start;
                @include font-style($black, 1.4rem, 2.2rem, 400);
            }

            .ant-form-item-control {
                width: 100%;
                border: 0.1rem solid transparent;
            }

            .url-image {
                width: 100%;
                border-radius: 50%;
            }

            .logo-success-container {
                @include d-flex;
                @include align-items-center;
                margin-bottom: 0.7rem;

                .check-image {
                    background-color: $lima;
                    border-radius: 0.2rem;
                    min-height: 1.7rem;
                    max-height: 1.7rem;
                    min-width: 1.7rem;
                    max-width: 1.7rem;
                }

                .success-message {
                    margin-left: 0.7rem;
                    @include font-style($black, 1.4rem, 2.2rem, 400);
                }
            }

            .logo-recommendations {
                @include font-style($dark-grey, 1.4rem, 2.2rem, 400);
            }

            .ant-select-selector {
                padding: 0.2rem;
                cursor: pointer;
            }

            .ant-radio-wrapper {
                padding: 1rem 0;
            }

            .ant-radio-wrapper {
                margin: 1rem 0;

                .ant-radio-disabled .ant-radio-inner {
                    background-color: $white;
                    border: 0.2rem solid $light-grey;
                }

                .ant-radio-inner {
                    border: 0.2rem solid $indigo;
                }

                .ant-radio-inner {
                    background-color: $white;
                }

                .ant-radio-inner::after {
                    background-color: $indigo;
                }

                .default-logo-container {
                    @include d-flex;
                    @include align-items-center;

                    .bg-round-container {
                        background-color: $very-light-gray;
                        border-radius: 50%;
                        height: 4rem;
                        width: 4rem;
                        @include align-items-center;
                        @include justify-content-center;
                        margin-right: 1rem;

                        .logo-img {
                            margin: auto;
                        }
                    }

                    .logo-text {
                        @include font-style($indigo, 1.4rem, 2.2rem, 400);
                    }
                }
            }
        }
    }
}

.upload-button-logo {
    border: 0;
    background: none;

    .logo-container {
        @include flex-column;
        @include justify-content-center;
        margin-top: 0.8rem;
    }
}