@use "../../assets/style" as *;

.accounts-wrapper {
  background-color: #fff;
  padding: 3rem 2rem 2rem 2rem;
  min-height: 100vh;
  .ant-breadcrumb,
  .ant-breadcrumb a {
    @include font-style(#00000099, 1.6rem, 2.4rem, 400);
  }
  .ant-breadcrumb li:last-child {
    @include font-style(#ff4081, 1.6rem, 2.4rem, 400);
  }
  .project-title {
    @include font-style($jet-black, 3.4rem, 4.2rem, 400);
    text-align: left;
  }
  .context-wrapper {
    @include align-items-center;
    color: $steel-grey;
    margin-top: 2rem;
    .info-icon {
      font-size: 2rem;
      margin-right: 1rem;
    }
    .context {
      @include font-style($steel-grey, 1.5rem, 2.6rem, 400);
    }
    .survey-anchor {
      @include font-style($wild-red, 1.5rem, 2.6rem, 400);
      margin-left: 0.5rem;
      text-decoration: underline;
    }
  }
  .ant-card-body {
    padding: 1.6rem;
  }
  .project-list-wrapper {
    margin-top: 2rem;
    .project-wrapper {
      background-color: $silver;

      .project-client-context-day-container {
        @include justify-content-between;
        .avatar-project-client-context-container {
          @include d-flex;
          gap: 1rem;
          .avatar {
            min-width: 4rem;
            min-height: 4rem;
            max-height: 4rem;
            background-color: $turquoise-blue;
            @include justify-content-center;
            @include align-items-center;
            @include font-style($cerulean, 2rem, 2rem, 400);
            border-radius: 6.4rem;
          }
          .project-client-container {
            text-align: left;
            .project-name {
              @include font-style($black, 1.6rem, 2.4rem, 400);
            }
            .client-name {
              @include font-style($steel-grey, 1.4rem, 2rem, 400);
            }
          }
        }
        .day-left-container {
          @include align-items-start;
          gap: 0.5rem;
          .dot-icon {
            color: $orange-peel;
            font-size: 1.5rem;
          }
          .days-left-context {
            @include font-style($jet-black, 1.2rem, 1.7rem, 400);
          }
        }
      }
      .team-view-container {
        @include justify-content-between;
        margin-top: 2.5rem;
        .team-members-context {
          @include font-style($steel-grey, 1.4rem, 2rem, 400);
        }
        .view-button {
          @include font-style($muted-bold-red, 1.3rem, 2.2rem, 500);
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
}
