@use "../../../assets/style/" as *;

.survey-home-container {
  padding: 3rem 2rem 2rem;
  background-color: $smoked_bg;
  @include flex-column;
  height: auto;

  @include media(">=xl") {
    height: 100vh;
  }

  .create-survey-btn {
    @include font-style($white, 1.6rem, 2.4rem, 400);
    border-radius: 0.4rem;
    padding: 1rem 2.2rem;
    @include justify-content-center;
    @include align-items-center;
    margin-left: 1rem;
    min-height: 4rem;
    background-color: $indigo;
    color: $white;

    &:hover {
      background-color: $indigo;
      box-shadow: rgba(100, 100, 111, 0.2) 0 0.7rem 2.9rem 0;
    }

    @include media("<md") {
      font-size: 1.4rem;
      padding: 0.5rem 1rem;
    }
  }

  .add-btn {
    @include font-style($indigo, 1.4rem, 2.2rem, 700);

    &:hover {
      background-color: none;
    }
  }

  .ant-breadcrumb,
  .ant-breadcrumb a {
    @include font-style($dark-black, 1.6rem, 2.4rem, 400);
    text-transform: capitalize;

    @include media("<md") {
      font-size: 1.2rem;
      line-height: 1.8rem;
    }
  }

  .ant-breadcrumb li {
    cursor: pointer;
  }

  .ant-breadcrumb li:last-child {
    cursor: auto;
  }

  .ant-breadcrumb li:last-child {
    @include font-style($black, 1.6rem, 2.4rem, 400);

    @include media("<md") {
      font-size: 1.2rem;
      line-height: 1.8rem;
    }
  }

  .survey-header-container {
    @include justify-content-between;
    @include align-items-center;
    margin-bottom: 1rem;

    @include media ("<md") {
      margin-top: 1rem;
    }

    .survey-heading {
      @include font-style($black, 1.6rem, 1.6rem, 400);
      text-align: start;

      @include media(">=md") {
        margin: 1.2rem 0;
        @include font-style($black, 2rem, 2.8rem, 400);
      }
    }
  }

  .prj-overview-top-section {
    margin-bottom: 1.2rem;

    .main-row {
      width: 100%;
      gap: 1.4rem;

      .disabled-text {
        color: $suva-gray;
        margin-top: 0.4rem;
      }

      @include media(">md", "<=lg") {
        gap: 1rem;
      }

      .overview-sections {
        border-radius: 0.4rem;
        background-color: $white;
        padding: 1rem;

        .ant-btn {
          &:hover {
            color: $indigo;
            background-color: $white;
            box-shadow: rgba(100, 100, 111, 0.2) 0 0.7rem 2.9rem 0;
          }
        }

        .accounts-avatar-container {
          @include justify-content-between;
          @include align-items-center;
          margin-bottom: 1rem;

          .acc-name {
            @include font-style($black, 1.6rem, 2.4rem, 400);
            margin: 0;
            text-transform: capitalize;

          }

          .prj-logo {
            background-color: $indigo;
            color: $white;
          }
        }

        .accounts-details-container {
          text-align: start;

          .acc-owner-container {
            margin-bottom: 1rem;

            .acc-owner-label {
              @include font-style($black, 1.6rem, 2.4rem, 500);
              margin: 0;
            }

            .detail {
              @include font-style($black , 1.4rem, 2.2rem, 400);
              margin-bottom: 1.5rem;
            }
          }
        }

        .last-sent {
          text-align: start;

          .label-text {
            @include font-style($black, 1.6rem, 2.2rem, 500);
          }

          .label-inner {
            @include d-flex;
            @include align-items-center;

            .last-sent-text {
              @include font-style($indigo, 1.4rem, 2.2rem, 500);
              @include text-ellipsis;
              width: 40%;
              cursor: pointer;
            }

            .ant-divider {
              border: 0.1rem solid $suva-gray;
            }

            .last-sent-date {
              @include font-style($suva-gray, 1.4rem, 2.2rem, 400);
            }
          }

        }

        .bottom-space {
          margin-bottom: 2rem;
        }
      }

      .stackholders {
        @include flex-column;

        .stackholders-container {
          @include justify-content-between;

          .label-avatar-container {
            text-align: start;
            margin-bottom: 2rem;

            .label {
              @include font-style($black, 1.6rem, 2.4rem, 700);
              margin-bottom: 1rem;
            }
          }
        }
      }

      .rating-and-surveys {
        background-color: $smoked_bg;
        @include flex-column;
        @include justify-content-between;
        @include align-items-center;
        gap: 1rem;
        padding: 0;

        @include media(">md", "<=lg") {
          gap: 1.1rem;
          width: 50%;
          @include d-flex;
        }

        @include media (">=md") {
          min-height: auto;
        }

        .overview-rows {
          padding: 1rem;
          border-radius: 0.4rem;
          background-color: $white;
          width: 100%;
        }

        .rating {
          text-align: start;
          min-height: 10rem;

          @include media(">=md", "<=lg") {
            min-height: 7rem;
            @include align-items-center;
          }

          .rating-label {
            @include font-style($suva-gray, 1.4rem, 2.2rem, 400);
          }

          .rating-count {
            @include font-style($black, 2.4rem, 2.8rem, 400);
            margin: 0;
          }
        }

        .all-surveys {
          @include flex-row-wrap;
          @include justify-content-between;

          .divider-containers {
            @include flex-column;
            @include align-items-center;

            .label {
              @include font-style($suva-gray, 1.4rem, 2.2rem, 400);
            }

            .count {
              @include font-style($black, 2.4rem, 2.8rem, 400);
            }
          }

          .ant-divider {
            border: 0.1rem solid $silver-grey;
            min-height: 6rem;
          }
        }
      }
    }

    .main-row {
      @include d-flex;
    }

    .overview-sections-container {
      @include flex-column;
      flex: 1;
    }

    .overview-sections {
      height: 100%;
    }

    .rating-and-surveys {
      @include flex-column;
    }

    .rating-and-surveys .overview-sections {
      flex: 1;
    }

  }

  .survey-list-container::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  .survey-list-container::-webkit-scrollbar-thumb {
    background-color: $white;
    border-radius: 0.4rem;
  }

  .survey-list-container::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .survey-list-container:hover::-webkit-scrollbar-thumb {
    background-color: $dark-grey;
  }

  .survey-list-container {
    background-color: $white;
    padding: 1rem;
    overflow-x: auto;
    white-space: nowrap;
    flex: 1;

    .survey-list-header {
      @include justify-content-between;
      @include align-items-center;
      margin-bottom: 0.7rem;

      .tabel-heading {
        @include font-style($black, 2rem, 2.8rem, 500);
        text-align: start;

        @include media("<md") {
          font-size: 1.6rem;
        }
      }

      .search-bar {
        max-width: 28rem;

        @include media("<sm") {
          max-width: 13rem;
        }
      }
    }

    .ant-table-body::-webkit-scrollbar {
      width: 0.5rem;
      height: 0.5rem;
    }

    .ant-table-body::-webkit-scrollbar-thumb {
      background-color: $white;
      border-radius: 0.4rem;
    }

    .ant-table-body::-webkit-scrollbar-track {
      background-color: transparent;
    }

    .ant-table-body:hover::-webkit-scrollbar-thumb {
      background-color: $dark-grey;
    }

    .ant-table-wrapper {
      min-height: 20vh;

      .ant-table-header {
        background-color: $white;

        .ant-table-cell {
          background-color: $white;
        }
      }
    }

    .ant-table-tbody {

      >tr>td:nth-child(1),
      >tr>td:nth-child(2),
      >tr>td:nth-child(3),
      >tr>td:nth-child(4),
      >tr>td:nth-child(5) {
        min-width: 15rem;
        max-width: 15rem;
        padding-left: 1rem;
      }
    }

    .ant-table-wrapper .ant-table.ant-table-small .ant-table-expanded-row-fixed {
      height: 100%;
    }

    .ant-table-tbody>tr>td:nth-child(6) {
      min-width: 9rem;
      max-width: 9rem;
      padding-left: 1rem;
    }
  }
}