@use "../../assets/style/" as *;

.wizard-wrapper {
  height: 89vh;
  @include flex-column;
  @include justify-content-center;
}
.wizard-container {
  text-align: "center";
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 2rem 4rem;
  width: 50%;
  margin: auto;
  height: 65vh;
  @include flex-column;
  @include justify-content-around;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.16);
  // margin-top: 3rem;
  .steps-action {
    .btn-container {
      @include justify-content-between;
      .cancel-button {
        color: var(--Gray-3, #828282);
        font-family: "Roboto";
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        text-transform: uppercase;
      }
      .previous-button {
        @include previous-btn;
        .arrow-icon {
          font-size: 1.8rem;
        }
        span {
          margin-left: 0.3rem;
        }
      }
      .draft-submit-btns {
        @include justify-content-around;
        .active-button {
          @include active-btn;
          font-family: "Roboto";
        }
        .disabled-button {
          opacity: 0.7;
        }
        .draft-button {
          @include draft-btn;
          font-family: "Roboto";
        }
      }
    }
  }
  .steps-content {
    height: 70%;
    padding: 0 3rem;
    .question {
      color: #212121;
      font-size: 3.3rem;
      font-weight: 500;
      line-height: 4rem;
      text-align: center;
      padding: 2rem 5rem;
      font-family: "Roboto";
    }
    .text-area {
      border-radius: 0.4rem;
      border: 0.1rem solid rgba(0, 0, 0, 0.23);
      &::placeholder {
        color: rgba(0, 0, 0, 0.6);
        font-family: Roboto;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.4rem;
        letter-spacing: 0.015rem;
      }
    }
    .rate {
      font-size: 5rem;
    }
    .required-star {
      color: #ff4081;
    }
    .share-feedback {
      padding-top: 7rem;
    }
    .rating-container {
      width: 12.2rem;
      height: 3rem;
      background-color: #d9d9d9;
      .ant-rate .ant-rate-star .ant-rate-star-full {
        width: 12.2rem;
        height: 3rem;
        background-color: #fadb14;
      }
    }
    .rating-scale-container {
      position: relative;
      .rating-desc-container {
        position: relative;
        bottom: 4rem;
        padding: 0 4rem 0 2.5rem;
        @include justify-content-between;
        margin-top: 1rem;
        span {
          width: 10rem;
          font-size: 1.6rem;
          font-family: Roboto;
          font-weight: 500;
          text-align: left;
          letter-spacing: 0.04rem;
        }
        .satisfied {
          text-align: right;
        }
      }
    }
  }
}
.radio-group-images {
  @include justify-content-center;
  gap: 2rem;
  .ant-radio {
    border: 0.15rem solid rgba(0, 0, 0, 0.6);
    &:hover {
      .ant-radio-inner {
        border: 0.1rem solid rgba(0, 0, 0, 0.6);
      }
    }
    &.ant-radio-checked {
      .ant-radio-inner {
        border: 0.2rem solid rgba(0, 0, 0, 0.6);
        background-color: #fff;
        &:after {
          background-color: #3f51b5;
        }
      }
    }
  }
  .speedometer {
    min-width: 10rem;
    .speedometer-image {
      width: 11.5rem;
    }
  }
  .radio-img-container {
    @include flex-column;
    @include align-items-center;
    // margin: 1rem;
    position: relative;
    .emoji-container {
      min-width: 10rem;
      min-height: 11rem;
      border-radius: 0.5rem;
      margin-bottom: 1.5rem;
      @include flex-column;
      @include justify-content-center;
      @include align-items-center;
      .label {
        font-size: 2rem;
        font-family: Roboto;
        font-weight: 700;
        line-height: 3.3rem;
        letter-spacing: 0.04rem;
      }
    }
    .very-low-color {
      color: #df3734;
    }
    .low-color {
      color: #ef5350;
    }
    .avg-color {
      color: #ffb300;
    }
    .high-color {
      color: #349d38;
    }
    .very-high-color {
      color: #018106;
    }
    .yes {
      background-color: rgba(219, 239, 220, 1);
    }
    .no {
      background-color: rgba(255, 235, 238, 1);
    }
    .very-low {
      background-color: rgba(239, 83, 80, 0.2);
    }
    .low {
      background-color: rgba(255, 235, 238, 1);
    }
    .avg {
      background-color: rgba(255, 248, 225, 1);
    }
    .high {
      background-color: rgba(76, 175, 80, 0.2);
    }
    .very-high {
      background-color: rgba(21, 117, 25, 0.2);
    }
    img {
      margin-bottom: 1rem;
    }
    .scale {
      margin-bottom: 0;
      object-fit: cover;
    }
    .label {
      font-size: 2rem;
      font-family: Roboto;
      font-weight: 700;
      line-height: 3.3rem;
    }
    .very-low-scale {
      position: absolute;
      rotate: -90deg;
      left: 3rem;
      top: 3rem;
    }
    .low-scale {
      position: absolute;
      rotate: -45deg;
      top: 2rem;
      left: 4rem;
    }
    .avg-scale {
      position: absolute;
      top: 2rem;
    }
    .high-scale {
      position: absolute;
      rotate: 45deg;
      top: 2rem;
      right: 4rem;
    }
    .very-high-scale {
      position: absolute;
      rotate: 90deg;
      top: 3rem;
      right: 3rem;
    }
  }
}
.progress-bar-container {
  span.current-step {
    margin-top: 0.5rem;
  }
  .progress-bar {
    width: 15%;
    margin-left: 0.5rem;
    .ant-progress-bg {
      background-color: #ff4081;
    }
  }
}
.rating-icon {
  font-size: 10rem;
}
