@use "../../assets/style/" as *;
.wizard-container {
  text-align: "center";
  background-color: #ffffff;
  // border: 0.1rem solid black;
  border-radius: 1rem;
  padding: 2rem 4rem;
  width: 65%;
  margin: auto;
  height: 60vh;
  @include flex-column;
  @include justify-content-around;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.16);
  .steps-action {
    .btn-container {
      @include justify-content-between;
    }
  }
  .steps-content {
    height: 70%;
  }
  .active-button {
    @include active-btn;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 7rem;
  }
  .draft-button {
    @include draft-btn;
  }
}
.radio-group-images {
  @include justify-content-center;
  .radio-img-container {
    @include flex-column;
    @include align-items-center;
    margin: 1rem;

    img {
      margin-bottom: 1rem;
    }
    .scale {
      margin-bottom: 0;
      object-fit: cover;
    }
  }
}
.progress-bar-container {
  span.current-step {
    margin-top: 0.5rem;
  }
  .progress-bar {
    width: 15%;
    margin-left: 0.5rem;
    .ant-progress-bg {
      background-color: #ff4081;
    }
  }
}
.question {
  font-family: Roboto;
  font-size: 3.3rem;
  font-weight: 500;
  line-height: 4rem;
  text-align: center;
  padding: 2rem 5rem;
}
.rate {
  font-size: 7rem;
}
