//Border black
$border-black: rgba(0, 0, 0, 0.6);
$border-black-10: rgba(0, 0, 0, 0.16);
$border-black-20: rgba(0, 0, 0, 0.23);

//miscellaneous
$golden-yellow: #fadb14;
$grey: #626262;
$green: #00e676;
$yellow: #f2bd03;
$red: #ed5564;
$white: #ffffff;
$black: #000000;
$blue: #2775ad;
$transparent: transparent;

$vibrant-green: #00c853;
$dark-grey: #9c9c9c;
$steel-grey: #757575;
$light-grey: #d9d9d9;
$ash-grey: #828282;
$very-light-gray: #f9f7f7;
$lavender: #ac92eb;
$muted-bold-red: #ef5350;
$wild-red: #ff4081;
$brick-red: #df584e;
$sandal-yellow: #ffb300;
$bold-red: #df3734;
$coral-pink: #e26a61;
$forest-green: #349d38;
$emerald-green: #018106;
$muted-green: #4caf5033;
$muted-deep-green: #15751933;
$pale-green: #dbefdc;
$metal-black: #4f4f4f;
$jet-black: #212121;
$blue-nav: #0076bf;
$royal-blue: #303f9f;
$med-slate-blue: #4153af;
$slate-blue: #3f5165;
$indigo: #3f51b5;
$blush-pink: #ffebee;
$muted-pink: #ef535033;
$pale-yellow: #fff8e1;
$muted-silver: #bdbdbd26;
$muted-lilac: #c6cbe6b3;